.mood-capture h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .mood-capture p {
    font-size: 1.1rem;
    color: #e0e0e0;
    max-width: 600px;
    margin: 0 auto 30px;
  }
  
  .mood-capture video {
    border: 3px solid rgba(255, 255, 255, 0.1);
  }
  
  .mood-capture button {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  button:hover {
    cursor: pointer;
  }

  .mood-capture {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .playlist-link {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1DB954;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.playlist-link:hover {
    background-color: #1ed760;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.playlist-link h3 {
  color:#b21ed7;
}
.playlist-link a {
  color:#495b04;
}